DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_REPMGR_PG_14 }}
DOCKER_IMAGE_REPMGR_PG_14={{ DOCKER_IMAGE_REPMGR_PG_14 }}
DOCKER_NETWORK_NAME_REPMGR_PG_14={{ DOCKER_NETWORK_NAME_REPMGR_PG_14 }}
DOCKER_NETWORK_EXTERNAL_REPMGR_PG_14={{ DOCKER_NETWORK_EXTERNAL_REPMGR_PG_14 }}
DOCKER_NETWORK_DRIVER_REPMGR_PG_14={{ DOCKER_NETWORK_DRIVER_REPMGR_PG_14 }}
DOCKER_PLACEMENT_CONSTR_REPMGR_PG_14={{ DOCKER_PLACEMENT_CONSTR_REPMGR_PG_14 }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_REPMGR_PG_14 }}
CLUSTER_NAME_REPMGR_PG_14={{ CLUSTER_NAME_REPMGR_PG_14 }}
POSTGRESQL_SHARED_PRELOAD_LIBRARIES="{{ POSTGRESQL_SHARED_PRELOAD_LIBRARIES_REPMGR_PG_14 }}"
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_REPMGR_PG_14}}
SERVER_NAME={{SERVER_NAME_REPMGR_PG_14}}
POSTGRESQL_DATA_DIR={{POSTGRESQL_DATA_DIR_REPMGR_PG_14}}
POSTGRESQL_MAX_CONNECTIONS={{POSTGRESQL_MAX_CONNECTIONS_REPMGR_PG_14}}
POSTGRESQL_PASSWORD={{ POSTGRES_PASSWORD_REPMGR_PG_14 }}
REPMGR_PASSWORD={{REPMGR_PASSWORD_REPMGR_PG_14}}
POSTGRESQL_DATABASE={{POSTGRESQL_DATABASE_START_REPMGR_PG_14}}
POSTGRESQL_USERNAME={{POSTGRESQL_USERNAME_PG_14}}