DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_REPMGR_PG_12 }}
DOCKER_IMAGE_REPMGR_PG_12={{ DOCKER_IMAGE_REPMGR_PG_12 }}
DOCKER_NETWORK_NAME_REPMGR_PG_12={{ DOCKER_NETWORK_NAME_REPMGR_PG_12 }}
DOCKER_NETWORK_EXTERNAL_REPMGR_PG_12={{ DOCKER_NETWORK_EXTERNAL_REPMGR_PG_12 }}
DOCKER_NETWORK_DRIVER_REPMGR_PG_12={{ DOCKER_NETWORK_DRIVER_REPMGR_PG_12 }}
DOCKER_PLACEMENT_CONSTR_REPMGR_PG_12={{ DOCKER_PLACEMENT_CONSTR_REPMGR_PG_12 }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_REPMGR_PG_12 }}
CLUSTER_NAME_REPMGR_PG_12={{ CLUSTER_NAME_REPMGR_PG_12 }}
POSTGRESQL_SHARED_PRELOAD_LIBRARIES="{{ POSTGRESQL_SHARED_PRELOAD_LIBRARIES_REPMGR_PG_12 }}"
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_REPMGR_PG_12}}
SERVER_NAME={{SERVER_NAME_REPMGR_PG_12}}
POSTGRESQL_DATA_DIR={{POSTGRESQL_DATA_DIR_REPMGR_PG_12}}
POSTGRESQL_MAX_CONNECTIONS={{POSTGRESQL_MAX_CONNECTIONS_REPMGR_PG_12}}
POSTGRESQL_PASSWORD={{POSTGRES_PASSWORD_REPMGR_PG_12}}
REPMGR_PASSWORD={{REPMGR_PASSWORD_REPMGR_PG_12}}
POSTGRESQL_DATABASE={{POSTGRESQL_DATABASE_START_REPMGR_PG_12}}
POSTGRESQL_USERNAME={{POSTGRESQL_USERNAME_PG_12}}