version: '3.8'

services:
  
  pg-1:
    image: ${DOCKER_IMAGE_REPMGR_PG_12}
{% raw %}
    hostname: pg-1-{{.Node.Hostname}}
{% endraw %}
    environment:
       POSTGRESQL_POSTGRES_PASSWORD: "${POSTGRESQL_PASSWORD}"
       POSTGRESQL_USERNAME: "${POSTGRESQL_USERNAME}"
       POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}"
       POSTGRESQL_DATABASE: "${POSTGRESQL_DATABASE}"
       REPMGR_PASSWORD: "${REPMGR_PASSWORD}"
       REPMGR_PRIMARY_HOST: "pg-1"
       REPMGR_PRIMARY_PORT: "5432"
       REPMGR_PARTNER_NODES: "pg-1,pg-2"
       REPMGR_NODE_NAME: "pg-1"
       REPMGR_NODE_NETWORK_NAME: "pg-1"
       REPMGR_PORT_NUMBER: "5432"
       POSTGRESQL_DATA_DIR: "${POSTGRESQL_DATA_DIR}"
       SERVER_NAME: "${SERVER_NAME}"
       DISCOVERY_SERVICE_HOST: "${DISCOVERY_SERVICE_HOST}"
       CONSUL_SERVICE_NAME: "${CLUSTER_NAME_REPMGR_PG_12}"
       POSTGRESQL_SHARED_PRELOAD_LIBRARIES: "${POSTGRESQL_SHARED_PRELOAD_LIBRARIES}"
       SERVER_INTERFACE_BIND: "${SERVER_INTERFACE_BIND}"
       POSTGRESQL_MAX_CONNECTIONS: "${POSTGRESQL_MAX_CONNECTIONS}"
       REPMGR_NODE_PRIORITY: "50"
    volumes:
      - "pg-1_data:/bitnami/postgresql"
      #- "./configs/bitnami/postgres/conf.d:/opt/bitnami/postgresql/conf/conf.d"
      - type: tmpfs
        target: /dev/shm
        tmpfs:
           size: {{ POSTGRESQL_DOCKER_SHM_SIZE_REPMGR_PG_12 }}
    networks:
      {{ DOCKER_NETWORK_NAME_REPMGR_PG_12 }}:
    stop_grace_period: 180s
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.pg-1  == true ]
  pg-2:
    image: ${DOCKER_IMAGE_REPMGR_PG_12}
{% raw %}
    hostname: pg-2-{{.Node.Hostname}}-{{.Task.ID}}
{% endraw %}
    environment:
       POSTGRESQL_POSTGRES_PASSWORD: "${POSTGRESQL_PASSWORD}"
       POSTGRESQL_USERNAME: "${POSTGRESQL_USERNAME}"
       POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}"
       POSTGRESQL_DATABASE: "${POSTGRESQL_DATABASE}"
       REPMGR_PASSWORD: "${REPMGR_PASSWORD}"
       REPMGR_PRIMARY_HOST: "pg-1"
       REPMGR_PRIMARY_PORT: "5432"
       REPMGR_PARTNER_NODES: "pg-1,pg-2"
       REPMGR_NODE_NAME: "pg-2"
       REPMGR_NODE_NETWORK_NAME: "pg-2"
       REPMGR_PORT_NUMBER: "5432"
       POSTGRESQL_DATA_DIR: "${POSTGRESQL_DATA_DIR}"
       SERVER_NAME: "${SERVER_NAME}"
       DISCOVERY_SERVICE_HOST: "${DISCOVERY_SERVICE_HOST}"
       CONSUL_SERVICE_NAME: "${CLUSTER_NAME_REPMGR_PG_12}"
       POSTGRESQL_SHARED_PRELOAD_LIBRARIES: "${POSTGRESQL_SHARED_PRELOAD_LIBRARIES}"
       SERVER_INTERFACE_BIND: "${SERVER_INTERFACE_BIND}"
       POSTGRESQL_MAX_CONNECTIONS: "${POSTGRESQL_MAX_CONNECTIONS}"
       REPMGR_NODE_PRIORITY: "90"
    volumes:
      - "pg-2_data:/bitnami/postgresql"
      #- "./configs/bitnami/postgres/conf.d:/opt/bitnami/postgresql/conf/conf.d"
      - type: tmpfs
        target: /dev/shm
        tmpfs:
           size: {{ POSTGRESQL_DOCKER_SHM_SIZE_REPMGR_PG_12 }}
    networks:
      {{ DOCKER_NETWORK_NAME_REPMGR_PG_12 }}:
    stop_grace_period: 180s
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.pg-2  == true ]


volumes:
  pg-1_data:
  pg-2_data:
  
networks:
  {{ DOCKER_NETWORK_NAME_REPMGR_PG_12 }}:
    external: ${DOCKER_NETWORK_EXTERNAL_REPMGR_PG_12}
    driver: ${DOCKER_NETWORK_DRIVER_REPMGR_PG_12}