DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_MEILISEARCH }}
DOCKER_IMAGE_MEILISEARCH={{ DOCKER_IMAGE_MEILISEARCH }}
DOCKER_NETWORK_NAME_MEILISEARCH={{ DOCKER_NETWORK_NAME_MEILISEARCH }}
DOCKER_NETWORK_EXTERNAL_MEILISEARCH={{ DOCKER_NETWORK_EXTERNAL_MEILISEARCH }}
DOCKER_NETWORK_DRIVER_MEILISEARCH={{ DOCKER_NETWORK_DRIVER_MEILISEARCH }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_MEILISEARCH }}