version: "3.8"

x-logging:
  &rsyslog-logging
  driver: syslog
  options:
    syslog-address: "udp://127.0.0.1:515"

x-logging-json:
  &json-logging
  driver: json-file
  options:
    max-size: '100m'
    max-file: '5'

x-deploy:
  &meilisearch-deploy
  replicas: 1
  endpoint_mode: dnsrr
  restart_policy:
    condition: on-failure
    delay: 10s
    max_attempts: 40
    window: 10s
  update_config:
    parallelism: 1
    delay: 5s
    failure_action: rollback
    monitor: 25s
    max_failure_ratio: 0.3
    order: stop-first
  placement:
    constraints: [ node.labels.meilisearch  == true ]


services:
  meilisearch:
    image: ${DOCKER_IMAGE_MEILISEARCH}
{% raw %}
    hostname: meilisearch-{{.Task.ID}}
{% endraw %}
    environment:
        MEILI_LOG_LEVEL: "info"
        MAX_INDEX_SIZE: "20GiB"
        MEILI_HTTP_PAYLOAD_SIZE_LIMIT: "400MB"
        MEILI_HTTP_ADDR: "0.0.0.0:7700"
        MEILI_DB_PATH: "/data.ms"
        MEILI_NO_ANALYTICS: "true"
        MAX_INDEXING_MEMORY: "6GiB"
        MEILI_MAX_INDEXING_THREADS: "4"
    sysctls:
      net.core.somaxconn: 4048
      net.ipv4.ip_local_port_range: "1024 65535"
    configs:
      - source: limits.conf
        target: /etc/security/limits.conf
        
    networks:
      {{ DOCKER_NETWORK_NAME_MEILISEARCH }}:
    deploy:
      <<: *meilisearch-deploy
    volumes:
      - meilisearch-1:/data.ms

volumes:
  meilisearch-1:
configs:
  limits.conf:
    file: ./limits.conf
networks:
  {{ DOCKER_NETWORK_NAME_MEILISEARCH }}:
    external: ${DOCKER_NETWORK_EXTERNAL_MEILISEARCH}
    driver: ${DOCKER_NETWORK_DRIVER_MEILISEARCH}