DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_PXC_5_7 }}
DOCKER_IMAGE_PXC_5_7={{ DOCKER_IMAGE_PXC_5_7 }}
DOCKER_NETWORK_NAME_PXC_5_7={{ DOCKER_NETWORK_NAME_PXC_5_7 }}
DOCKER_NETWORK_EXTERNAL_PXC_5_7={{ DOCKER_NETWORK_EXTERNAL_PXC_5_7 }}
DOCKER_NETWORK_DRIVER_PXC_5_7={{ DOCKER_NETWORK_DRIVER_PXC_5_7 }}
DOCKER_PLACEMENT_CONSTR_PXC_5_7={{ DOCKER_PLACEMENT_CONSTR_PXC_5_7 }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_PXC_5_7 }}
CLUSTER_NAME_PXC_5_7={{ CLUSTER_NAME_PXC_5_7 }}
MYSQL_ROOT_PASSWORD_PXC_5_7={{ MYSQL_ROOT_PASSWORD_PXC_5_7 }}
XTRABACKUP_PASSWORD_PXC_5_7={{ XTRABACKUP_PASSWORD_PXC_5_7 }}
EXPORTER_PASSWORD_PXC_5_7={{ EXPORTER_PASSWORD_PXC_5_7 }}
DISCOVERY_SERVICE_HOST_PXC_5_7={{ DISCOVERY_SERVICE_HOST_PXC_5_7 }}
CONSUL_SERVICE_NAME_PXC_5_7={{ CONSUL_SERVICE_NAME_PXC_5_7 }}
SERVICE_NAME_PXC_5_7={{ SERVICE_NAME_PXC_5_7 }}