version: '3.8'

services:

  pxc-5-7-1:
    image: "${DOCKER_IMAGE_PXC_5_7}"
{% raw %}
    hostname: pxc-5-7-1-{{.Node.Hostname}}-{{.Task.ID}}
{% endraw %}
    environment:
      CLUSTER_NAME: "${CLUSTER_NAME_PXC_5_7}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD_PXC_5_7}"
      PXC_SERVICE: "${SERVICE_NAME_PXC_5_7}"
      DISCOVERY_SERVICE: "${DISCOVERY_SERVICE_HOST_PXC_5_7}"
      CONSUL_SERVICE: "${CONSUL_SERVICE_NAME_PXC_5_7}"
      XTRABACKUP_PASSWORD: "${XTRABACKUP_PASSWORD_PXC_5_7}"
      EXPORTER_PASSWORD: "${EXPORTER_PASSWORD_PXC_5_7}"
      MYSQL_TUNE_BEFORE_START: "true"
      ###MYSQL TUNE
      INNODB_LOG_FILES_IN_GROUP: "2"
      INNODB_LOG_FILE_SIZE: "128M"
      INNODBFLUSH_LOG_AT_TRX_COMMIT: "2"
      INNODB_FILE_PER_TABLE: "1"
      INNODB_BUFFER_POOL_SIZE: "2G"
      INNODB_AUTOINC_LOCK_MODE: "2"
      MAX_ALLOWED_PACKET: "128M"
      MAX_CONNECT_ERRORS: "4294967295"
      MAX_CONNECTIONS: "300"
      WSREP_SLAVE_THREADS: "2"
      WAIT_TIMEOUT: "200"
      TABLE_OPEN_CACHE: "4096"
      MAX_HEAD_TABLE_SIZE: "64M"
      TMP_TABLE_SIZE: "64M"
      BINLOG_FOMAT: "ROW"
      ###MYSQL REPLICATION MASTER
      GTID_REPLICATION: "true"
      REPLICATION_ROLE: "master"
      EXPIRE_LOGS_DAYS: "1"
      MAX_BINLOG_SIZE: "200m"
      INNODB_LOCKS_UNSAFE_FOR_BINLOG: "1"
      CONSUL_AGENT_SLEEP_TIME: "10"
      #CLUSTER_JOIN: "true"
      SERVER_INTERFACE_BIND: ${SERVER_INTERFACE_BIND}
    volumes:
      - "pxc-5-7-1:/var/lib/mysql"
    networks:
      {{ DOCKER_NETWORK_NAME_PXC_5_7 }}:
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.pxc-5-7-1  == true ]


  pxc-5-7-2:
    image: "${DOCKER_IMAGE_PXC_5_7}"
{% raw %}
    hostname: pxc-5-7-2-{{.Node.Hostname}}-{{.Task.ID}}
{% endraw %}
    environment:
      CLUSTER_NAME: "${CLUSTER_NAME_PXC_5_7}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD_PXC_5_7}"
      PXC_SERVICE: "${SERVICE_NAME_PXC_5_7}"
      DISCOVERY_SERVICE: "${DISCOVERY_SERVICE_HOST_PXC_5_7}"
      CONSUL_SERVICE: "${CONSUL_SERVICE_NAME_PXC_5_7}"
      XTRABACKUP_PASSWORD: "${XTRABACKUP_PASSWORD_PXC_5_7}"
      EXPORTER_PASSWORD: "${EXPORTER_PASSWORD_PXC_5_7}"
      MYSQL_TUNE_BEFORE_START: "true"
      ###MYSQL TUNE
      INNODB_LOG_FILES_IN_GROUP: "2"
      INNODB_LOG_FILE_SIZE: "128M"
      INNODBFLUSH_LOG_AT_TRX_COMMIT: "2"
      INNODB_FILE_PER_TABLE: "1"
      INNODB_BUFFER_POOL_SIZE: "2G"
      INNODB_AUTOINC_LOCK_MODE: "2"
      MAX_ALLOWED_PACKET: "128M"
      MAX_CONNECT_ERRORS: "4294967295"
      MAX_CONNECTIONS: "300"
      WSREP_SLAVE_THREADS: "2"
      WAIT_TIMEOUT: "200"
      TABLE_OPEN_CACHE: "4096"
      MAX_HEAD_TABLE_SIZE: "64M"
      TMP_TABLE_SIZE: "64M"
      BINLOG_FOMAT: "ROW"
      ###MYSQL REPLICATION MASTER
      GTID_REPLICATION: "false"
      REPLICATION_ROLE: "false"
      EXPIRE_LOGS_DAYS: "1"
      MAX_BINLOG_SIZE: "200m"
      INNODB_LOCKS_UNSAFE_FOR_BINLOG: "1"
      CONSUL_AGENT_SLEEP_TIME: "40"
      CLUSTER_JOIN: "true"
      SERVER_INTERFACE_BIND: ${SERVER_INTERFACE_BIND}
    volumes:
      - "pxc-5-7-2:/var/lib/mysql"
    networks:
      {{ DOCKER_NETWORK_NAME_PXC_5_7 }}:
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.pxc-5-7-2  == true ]


  pxc-5-7-3:
    image: "${DOCKER_IMAGE_PXC_5_7}"
{% raw %}
    hostname: pxc-5-7-3-{{.Node.Hostname}}-{{.Task.ID}}
{% endraw %}
    environment:
      CLUSTER_NAME: "${CLUSTER_NAME_PXC_5_7}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD_PXC_5_7}"
      PXC_SERVICE: "${SERVICE_NAME_PXC_5_7}"
      DISCOVERY_SERVICE: "${DISCOVERY_SERVICE_HOST_PXC_5_7}"
      CONSUL_SERVICE: "${CONSUL_SERVICE_NAME_PXC_5_7}"
      XTRABACKUP_PASSWORD: "${XTRABACKUP_PASSWORD_PXC_5_7}"
      EXPORTER_PASSWORD: "${EXPORTER_PASSWORD_PXC_5_7}"
      MYSQL_TUNE_BEFORE_START: "true"
      ###MYSQL TUNE
      INNODB_LOG_FILES_IN_GROUP: "2"
      INNODB_LOG_FILE_SIZE: "128M"
      INNODBFLUSH_LOG_AT_TRX_COMMIT: "2"
      INNODB_FILE_PER_TABLE: "1"
      INNODB_BUFFER_POOL_SIZE: "2G"
      INNODB_AUTOINC_LOCK_MODE: "2"
      MAX_ALLOWED_PACKET: "128M"
      MAX_CONNECT_ERRORS: "4294967295"
      MAX_CONNECTIONS: "300"
      WSREP_SLAVE_THREADS: "2"
      WAIT_TIMEOUT: "200"
      TABLE_OPEN_CACHE: "4096"
      MAX_HEAD_TABLE_SIZE: "64M"
      TMP_TABLE_SIZE: "64M"
      BINLOG_FOMAT: "ROW"
      ###MYSQL REPLICATION MASTER
      GTID_REPLICATION: "false"
      REPLICATION_ROLE: "false"
      EXPIRE_LOGS_DAYS: "1"
      MAX_BINLOG_SIZE: "200m"
      INNODB_LOCKS_UNSAFE_FOR_BINLOG: "1"
      CONSUL_AGENT_SLEEP_TIME: "50"
      CLUSTER_JOIN: "true"
      SERVER_INTERFACE_BIND: ${SERVER_INTERFACE_BIND}
    volumes:
      - "pxc-5-7-3:/var/lib/mysql"
    networks:
      {{ DOCKER_NETWORK_NAME_PXC_5_7 }}:
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.pxc-5-7-3 == true ]


volumes:
  pxc-5-7-1:
  pxc-5-7-2:
  pxc-5-7-3:

networks:
  {{ DOCKER_NETWORK_NAME_PXC_5_7 }}:
    external: ${DOCKER_NETWORK_EXTERNAL_PXC_5_7}
    driver: ${DOCKER_NETWORK_DRIVER_PXC_5_7}