DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_HAPROXY_POSTGRES }}
DOCKER_IMAGE_HAPROXY_POSTGRES={{ DOCKER_IMAGE_HAPROXY_POSTGRES }}
DOCKER_NETWORK_NAME_HAPROXY_POSTGRES={{ DOCKER_NETWORK_NAME_HAPROXY_POSTGRES }}
DOCKER_NETWORK_EXTERNAL_HAPROXY_POSTGRES={{ DOCKER_NETWORK_EXTERNAL_HAPROXY_POSTGRES }}
DOCKER_NETWORK_DRIVER_HAPROXY_POSTGRES={{ DOCKER_NETWORK_DRIVER_HAPROXY_POSTGRES }}
DOCKER_PLACEMENT_HAPROXY_POSTGRES={{ DOCKER_PLACEMENT_HAPROXY_POSTGRES }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_HAPROXY_POSTGRES }}
DOCKER_ROLE={{DOCKER_ROLE_HAPROXY_POSTGRES}}
DISCOVERY_SERVICE={{DISCOVERY_SERVICE_HOST_HAPROXY_POSTGRES}}
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_HOST_HAPROXY_POSTGRES}}
DISCOVERY_SERVICE_NAME={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_POSTGRES}}
HAPROXY_STATS_URL={{HAPROXY_STATS_URL_HAPROXY_POSTGRES}}
HAPROXY_STATS_AUTH_USER={{HAPROXY_STATS_AUTH_USER_HAPROXY_POSTGRES}}
HAPROXY_STATS_AUTH_PASSWORD={{HAPROXY_STATS_AUTH_PASSWORD_HAPROXY_POSTGRES}}
HAPROXY_STATS_ALLOW_HOSTS="{{HAPROXY_STATS_ALLOW_HOSTS_HAPROXY_POSTGRES}}"
HAPROXY_SERVICE_ALLOW_HOSTS="{{HAPROXY_SERVICE_ALLOW_HOSTS_HAPROXY_POSTGRES}}"
HAPROXY_SERVER_NAME={{HAPROXY_SERVER_NAME_HAPROXY_POSTGRES}}
HAPROXY_POSTGRES_CHECK_USER={{HAPROXY_POSTGRES_CHECK_USER_HAPROXY_POSTGRES}}
HAPROXY_POSTGRES_BACKEND_MAX_CONN={{HAPROXY_POSTGRES_BACKEND_MAX_CONN_HAPROXY_POSTGRES}}
DISCOVERY_SERVICE_NAME_POSTGRES_READER={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_POSTGRES_READER}}
DISCOVERY_SERVICE_NAME_POSTGRES_WRITER={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_POSTGRES_WRITER}}
HAPROXY_TIMEOUT_SERVER={{HAPROXY_TIMEOUT_SERVER_HAPROXY_POSTGRES}}
HAPROXY_TIMEOUT_CONNECT={{HAPROXY_TIMEOUT_SERVER_HAPROXY_POSTGRES}}
HAPROXY_TIMEOUT_CLIENT={{HAPROXY_TIMEOUT_SERVER_HAPROXY_POSTGRES}}