version: "3.8"

x-logging:
  &rsyslog-logging
  driver: syslog
  options:
    syslog-address: "udp://127.0.0.1:515"

x-logging-json:
  &json-logging
  driver: json-file
  options:
    max-size: '100m'
    max-file: '5'

x-deploy:
  &haproxy-deploy
  mode: global
  #replicas: 1
  endpoint_mode: dnsrr
  restart_policy:
    condition: on-failure
    delay: 10s
    max_attempts: 40
    window: 10s
  update_config:
    parallelism: 1
    delay: 5s
    failure_action: rollback
    monitor: 25s
    max_failure_ratio: 0.3
    order: stop-first
  placement:
    constraints: [ node.labels.haproxy-postgres  == true ]


services:
  prod-haproxy-postgres:
    image: ${DOCKER_IMAGE_HAPROXY_POSTGRES}
{% raw %}
    hostname: haproxy-postres-{{.Task.ID}}
{% endraw %}
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
        mode: host
      - target: 5433
        published: 5433
        protocol: tcp
        mode: host
      - target: 80
        published: 33381
        protocol: tcp
        mode: host
      - target: 9101
        published: 9101
        protocol: tcp
        mode: host  
    environment:
        DOCKER_ROLE: "${DOCKER_ROLE}"
        DISCOVERY_SERVICE: "${DISCOVERY_SERVICE}"
        DISCOVERY_SERVICE_HOST: "${DISCOVERY_SERVICE_HOST}"
        DISCOVERY_SERVICE_NAME: "${DISCOVERY_SERVICE_NAME}"
        HAPROXY_STATS_URL: "${HAPROXY_STATS_URL}"
        HAPROXY_STATS_AUTH_USER: "${HAPROXY_STATS_AUTH_USER}"
        HAPROXY_STATS_AUTH_PASSWORD: "${HAPROXY_STATS_AUTH_PASSWORD}"
        HAPROXY_STATS_ALLOW_HOSTS: "${HAPROXY_STATS_ALLOW_HOSTS}"
        HAPROXY_SERVICE_ALLOW_HOSTS: "${HAPROXY_SERVICE_ALLOW_HOSTS}"
        SERVER_NAME: "${HAPROXY_SERVER_NAME}"
        HAPROXY_POSTGRES_CHECK_USER: "${HAPROXY_POSTGRES_CHECK_USER}"
        HAPROXY_POSTGRES_BACKEND_MAX_CONN: "${HAPROXY_POSTGRES_BACKEND_MAX_CONN}"
        SERVER_INTERFACE_BIND: "${SERVER_INTERFACE_BIND}"
        DISCOVERY_SERVICE_NAME_POSTGRES_READER: "${DISCOVERY_SERVICE_NAME_POSTGRES_READER}"
        DISCOVERY_SERVICE_NAME_POSTGRES_WRITER: "${DISCOVERY_SERVICE_NAME_POSTGRES_WRITER}"
        HAPROXY_TIMEOUT_SERVER: "${HAPROXY_TIMEOUT_SERVER}"
        HAPROXY_TIMEOUT_CONNECT: "${HAPROXY_TIMEOUT_CONNECT}"
        HAPROXY_TIMEOUT_CLIENT: "${HAPROXY_TIMEOUT_CLIENT}"
    networks:
      {{ DOCKER_NETWORK_NAME_HAPROXY_POSTGRES }}:
    deploy:
      <<: *haproxy-deploy


networks:
  {{ DOCKER_NETWORK_NAME_HAPROXY_POSTGRES }}:
    external: ${DOCKER_NETWORK_EXTERNAL_HAPROXY_POSTGRES}
    driver: ${DOCKER_NETWORK_DRIVER_HAPROXY_POSTGRES}