DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_HAPROXY_MYSQL }}
DOCKER_IMAGE_HAPROXY_MYSQL={{ DOCKER_IMAGE_HAPROXY_MYSQL }}
DOCKER_NETWORK_NAME_HAPROXY_MYSQL={{ DOCKER_NETWORK_NAME_HAPROXY_MYSQL }}
DOCKER_NETWORK_EXTERNAL_HAPROXY_MYSQL={{ DOCKER_NETWORK_EXTERNAL_HAPROXY_MYSQL }}
DOCKER_NETWORK_DRIVER_HAPROXY_MYSQL={{ DOCKER_NETWORK_DRIVER_HAPROXY_MYSQL }}
DOCKER_PLACEMENT_HAPROXY_MYSQL={{ DOCKER_PLACEMENT_HAPROXY_MYSQL }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_HAPROXY_MYSQL }}
DOCKER_ROLE={{DOCKER_ROLE_HAPROXY_MYSQL}}
DISCOVERY_SERVICE={{DISCOVERY_SERVICE_HOST_HAPROXY_MYSQL}}
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_HOST_HAPROXY_MYSQL}}
DISCOVERY_SERVICE_NAME={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_MYSQL}}
DISCOVERY_SERVICE_NAME_MYSQL_WRITER={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_MYSQL}}
DISCOVERY_SERVICE_NAME_MYSQL_READER={{CONSUL_SERVICE_SOURCE_NAME_HAPROXY_MYSQL}}
HAPROXY_STATS_URL={{HAPROXY_STATS_URL_HAPROXY_MYSQL}}
HAPROXY_STATS_AUTH_USER={{HAPROXY_STATS_AUTH_USER_HAPROXY_MYSQL}}
HAPROXY_STATS_AUTH_PASSWORD={{HAPROXY_STATS_AUTH_PASSWORD_HAPROXY_MYSQL}}
HAPROXY_STATS_ALLOW_HOSTS="{{HAPROXY_STATS_ALLOW_HOSTS_HAPROXY_MYSQL}}"
HAPROXY_SERVICE_ALLOW_HOSTS="{{HAPROXY_SERVICE_ALLOW_HOSTS_HAPROXY_MYSQL}}"
HAPROXY_SERVER_NAME={{HAPROXY_SERVER_NAME_HAPROXY_MYSQL}}
HAPROXY_MYSQL_CHECK_USER={{HAPROXY_MYSQL_CHECK_USER_HAPROXY_MYSQL}}
HAPROXY_MYSQL_BACKEND_MAX_CONN={{HAPROXY_MYSQL_BACKEND_MAX_CONN_HAPROXY_MYSQL}}