BORG_PROXY_PORT={{ borg_server_proxy_port }}
BORG_SCRAPE_ALLOW_NET={{ borg_server_scrape_allow_net }}
BORG_SERVER_HOME_FOLDER={{ borg_server_home_folder }}
BORG_SERVER_BACKUP_FOLDER={{ borg_server_backup_folder }}