version: '3.5'
services:
  borg-server:
    image: {{ docker_image_borg_server }}
    restart: always
    volumes:
     - "${BORG_SERVER_HOME_FOLDER}:/home/borg"
     - "${BORG_SERVER_BACKUP_FOLDER}:${BORG_SERVER_BACKUP_FOLDER}"
    environment:
      BORG_MODE: "SERVER"
      BORG_SERVER_BACKUP_FOLDER:
    networks:
      borg-server:
        aliases:
          - borg-server
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 33
        window: 30s
      update_config:
        parallelism: 1
        delay: 3s
        failure_action: continue
        monitor: 3s
        max_failure_ratio: 0.3


  borg-proxy:
    image: {{ docker_image_borg_proxy }}
    restart: always
    environment:
      BORG_SCRAPE_ALLOW_NET:
    ports:
      - "${BORG_PROXY_PORT}:32456"
    networks:
      borg-server:
        aliases:
          - borg-proxy
    depends_on:
       - borg-server
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 33
        window: 30s
      update_config:
        parallelism: 1
        delay: 3s
        failure_action: continue
        monitor: 3s
        max_failure_ratio: 0.3

networks:
  borg-server:
    driver: bridge