DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_CONSUL }}
DOCKER_IMAGE_CONSUL={{ DOCKER_IMAGE_CONSUL }}
DOCKER_NETWORK_NAME={{ DOCKER_NETWORK_NAME_CONSUL }}
DOCKER_NETWORK_EXTERNAL={{ DOCKER_NETWORK_EXTERNAL_CONSUL }}
DOCKER_NETWORK_DRIVER={{ DOCKER_NETWORK_DRIVER_CONSUL }}
DOCKER_PLACEMENT_CONSTR={{ DOCKER_PLACEMENT_CONSTR_CONSUL }}
CONSUL_SERVER_INTERFACE_BIND={{ CONSUL_SERVER_INTERFACE_BIND_CONSUL }}
CONSUL_SERVER_CLUSTER_SIZE={{ CONSUL_SERVER_CLUSTER_SIZE_CONSUL }}