version: '3.8'
services:
  server:
    image: ${DOCKER_IMAGE_CONSUL}
{% raw %}
    hostname: "server-{{.Task.ID}}"
{% endraw %}
    networks:
      {{ DOCKER_NETWORK_NAME_CONSUL }}:
        aliases:
          - pxc.service.consul
          - consul.server
          - consul
          - consul-prod.service.consul
          - consul-prod
    #ports:
    #  - target: 8500
    #    published: 8500
    #    protocol: tcp
    #    mode: host
    volumes:
      - consul-data-1:/consul/data
    environment:
      CONSUL_SERVER_NAME: "pxc.service.consul"
      CONSUL_SERVER_NAME_ENCRYPT_TOKEN: ""
      CONSUL_SERVER_LOG_LEVEL: "warn"
      CONSUL_CLEANUP_DEAD_SERVERS: "true"
      CONSUL_SERVER_DATACENTER: "dc1"
      CONSUL_SERVER_INTERFACE_BIND: "${CONSUL_SERVER_INTERFACE_BIND}"
      #
      CONSUL_SERVER_NETWORK_REJOIN_HOST: "server-bootstrap"
    deploy:
      mode: global
      endpoint_mode: dnsrr
      labels: [APP=CONSUL-SERVER]
      placement:
        constraints: [ node.labels.consul == true ]



  server-bootstrap:
    image: ${DOCKER_IMAGE_CONSUL}
{% raw %}
    hostname: "server-bootstrap-{{.Task.ID}}"
{% endraw %}
    networks:
      {{ DOCKER_NETWORK_NAME_CONSUL }}:
    #ports:
    #  - target: 8500
    #    published: 8501
    #    protocol: tcp
    #    mode: host
    volumes:
      - consul-server-bootstrap-1:/consul/data
    environment:
      CONSUL_SERVER_NAME: "server-bootstrap.service.consul"
      CONSUL_SERVER_NAME_ENCRYPT_TOKEN: ""
      CONSUL_SERVER_LOG_LEVEL: "warn"
      CONSUL_CLEANUP_DEAD_SERVERS: "true"
      CONSUL_SERVER_DATACENTER: "dc1"
      CONSUL_SERVER_CLUSTER_SIZE: "${CONSUL_SERVER_CLUSTER_SIZE}"
      CONSUL_SERVER_INTERFACE_BIND: "${CONSUL_SERVER_INTERFACE_BIND}"
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      labels: [APP=CONSUL-BOOTSTRAP]
      placement:
        constraints: [ node.labels.consul == true ]

networks:
  {{ DOCKER_NETWORK_NAME_CONSUL }}:
    external: ${DOCKER_NETWORK_EXTERNAL}
    driver: ${DOCKER_NETWORK_DRIVER}
    ipam:
      driver: default


volumes:
  consul-data-1:
  consul-server-bootstrap-1: