{ 
  "advertise_addr" : "{% raw %}{{ GetInterfaceIP \"eth0\" }}{% endraw %}",
  "bind_addr": "{% raw %}{{ GetInterfaceIP \"eth0\" }}{% endraw %}",
  "bootstrap": true,
  "server":true,
  "skip_leave_on_interrupt": true,
  "server_name" : "pxc.service.consul",
  "acl_datacenter":"dc1",
  "acl_default_policy":"allow",
  "acl_down_policy":"extend-cache",
  "datacenter":"dc1",
  "data_dir":"/consul/data",
  
  "ui" : true
}