version: '3.1'

services:
  
  proxysql:
    image: "{{ docker_image_proxysql }}"
    environment:
      CLUSTER_NAME: "{{ pxc_cluster_name }} "
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_PROXY_USER: "{{ mysql_proxy_user }}"
      MYSQL_PROXY_PASSWORD: "{{ mysql_proxy_password }}"
      PXC_SERVICE: "pxc.service.consul"
      DISCOVERY_SERVICE: "pxc"
      CONSUL_ADDR: "pxc"
    depends_on:
       - consul
       - pxc
    networks:
      - {{ docker_stack_network_name }}   
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 13
        window: 120s
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ {{ container_placement_proxysql }} ]

  consul:
    image: "{{ docker_image_consul }}"
    hostname: consul
    volumes:
      - "{{ docker_stack_location }}/configs/consul:/consul/config"
    networks:
      {{ docker_stack_network_name }}:
        aliases:
          - pxc.service.consul
    command: "consul agent -config-file /consul/config/config.json"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 13
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ {{ container_placement_consul }} ]

  pxc:
    image: "{{ docker_image_pxc }}"
    environment:
      CLUSTER_NAME: "{{ pxc_cluster_name }} "
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_PROXY_USER: "{{ mysql_proxy_user }}"
      MYSQL_PROXY_PASSWORD: "{{ mysql_proxy_password }}"
      PXC_SERVICE: "pxc.service.consul"
      DISCOVERY_SERVICE: "consul"
    depends_on:
       - consul
    volumes:
      - "{{ volume_name_pxc }}:/var/lib/mysql"
    networks:
      {{ docker_stack_network_name }}:
        aliases:
          - mysql
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 23
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ {{ container_placement_pxc }} ]


volumes:
  {{ volume_name_pxc }}:

networks:
  {{ docker_stack_network_name }}:
    driver: overlay
