#!/bin/bash



PXC_CONTAINER_NAME=$(docker ps --filter status=running --filter name={{ docker_stack_name }}_pxc -q)
if [[ "${PXC_CONTAINER_NAME}" != "" ]];then
echo "tune pxc"

docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL time_zone = '+00:00';"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL time_zone = 'UTC';"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL wsrep_slave_threads = 8;"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL wsrep_auto_increment_control = OFF;"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL innodb_buffer_pool_size = {{ pxc_innodb_buffer_pool_size }};"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL key_buffer_size = {{ pxc_key_buffer_size }};"
docker exec -i ${PXC_CONTAINER_NAME}  mysql --host=localhost -u root -p{{ mysql_root_password }} -e "SET GLOBAL max_allowed_packet = {{ pxc_max_allowed_packet }};"
else
	echo "pxc not running"
fi