DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_PXC_8_0 }}
DOCKER_IMAGE_PXC_8_0={{ DOCKER_IMAGE_PXC_8_0 }}
DOCKER_NETWORK_NAME_PXC_8_0={{ DOCKER_NETWORK_NAME_PXC_8_0 }}
DOCKER_NETWORK_EXTERNAL_PXC_8_0={{ DOCKER_NETWORK_EXTERNAL_PXC_8_0 }}
DOCKER_NETWORK_DRIVER_PXC_8_0={{ DOCKER_NETWORK_DRIVER_PXC_8_0 }}
DOCKER_PLACEMENT_CONSTR_PXC_8_0={{ DOCKER_PLACEMENT_CONSTR_PXC_8_0 }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_PXC_8_0 }}
CLUSTER_NAME_PXC_8_0={{ CLUSTER_NAME_PXC_8_0 }}
MYSQL_ROOT_PASSWORD_PXC_8_0={{ MYSQL_ROOT_PASSWORD_PXC_8_0 }}
XTRABACKUP_PASSWORD_PXC_8_0={{ XTRABACKUP_PASSWORD_PXC_8_0 }}
EXPORTER_PASSWORD_PXC_8_0={{ EXPORTER_PASSWORD_PXC_8_0 }}
DISCOVERY_SERVICE_HOST_PXC_8_0={{ DISCOVERY_SERVICE_HOST_PXC_8_0 }}
CONSUL_SERVICE_NAME_PXC_8_0={{ CONSUL_SERVICE_NAME_PXC_8_0 }}
SERVICE_NAME_PXC_8_0={{ SERVICE_NAME_PXC_8_0 }}