DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_NGINX_MYSQL }}
DOCKER_IMAGE_NGINX_LB_DBS={{ DOCKER_IMAGE_NGINX_LB_DBS }}
DOCKER_NETWORK_NAME_NGINX_MYSQL={{ DOCKER_NETWORK_NAME_NGINX_MYSQL }}
DOCKER_NETWORK_DRIVER_NGINX_MYSQL={{ DOCKER_NETWORK_DRIVER_NGINX_MYSQL }}
DOCKER_PLACEMENT_NGINX_MYSQL="{{ DOCKER_PLACEMENT_NGINX_MYSQL }}"
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_NGINX_MYSQL }}
DISCOVERY_SERVICE={{DISCOVERY_SERVICE_NGINX_MYSQL}}
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_HOST_NGINX_MYSQL}}
DISCOVERY_SERVICE_NAME={{DISCOVERY_SERVICE_NAME_NGINX_MYSQL}}
DISCOVERY_SERVICE_NAME_MYSQL_WRITER={{DISCOVERY_SERVICE_NAME_MYSQL_WRITER}}
DISCOVERY_SERVICE_NAME_MYSQL_READER={{DISCOVERY_SERVICE_NAME_MYSQL_READER}}
APP_ROLE={{NGINX_MYSQL_APP_ROLE}}
APP_NAME={{NGINX_MYSQL_APP_NAME}}
NGINX_MYSQL_ACL_LIST_NETWORK="{{NGINX_MYSQL_ACL_LIST_NETWORK}}"
DOCKER_NETWORK_EXTERNAL_NGINX_MYSQL=true
DOCKER_NETWORK_DRIVER_NGINX_MYSQL={{DOCKER_NETWORK_DRIVER_NGINX_MYSQL}}