version: "3.8"

x-logging:
  &rsyslog-logging
  driver: syslog
  options:
    syslog-address: "udp://127.0.0.1:515"

x-logging-json:
  &json-logging
  driver: json-file
  options:
    max-size: '100m'
    max-file: '5'

x-deploy:
  &nginx-lb-dbs-mysql-deploy
  mode: global
  #replicas: 1
  endpoint_mode: dnsrr
  restart_policy:
    condition: on-failure
    delay: 10s
    max_attempts: 40
    window: 10s
  update_config:
    parallelism: 1
    delay: 5s
    failure_action: rollback
    monitor: 25s
    max_failure_ratio: 0.3
    order: stop-first
  placement:
    constraints: [ node.labels.nginx-lb-dbs-mysql == true ]


services:
  nginx-lb-dbs-mysql:
    image: ${DOCKER_IMAGE_NGINX_LB_DBS}
{% raw %}
    hostname:  nginx-lb-dbs-{{.Task.ID}}
{% endraw %}
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
      - target: 3307
        published: 3307
        protocol: tcp
        mode: host
    environment:
        APP_ROLE: "${NGINX_MYSQL_APP_ROLE}"
        APP_NAME: "${NGINX_MYSQL_APP_NAME}"
        DISCOVERY_SERVICE: "${DISCOVERY_SERVICE_NGINX_MYSQL}"
        DISCOVERY_SERVICE_HOST: "${DISCOVERY_SERVICE_HOST_NGINX_MYSQL}"
        DISCOVERY_SERVICE_NAME: "${DISCOVERY_SERVICE_NAME_NGINX_MYSQL}"
        DISCOVERY_SERVICE_NAME_MYSQL_WRITER: "${DISCOVERY_SERVICE_NAME_MYSQL_WRITER}"
        DISCOVERY_SERVICE_NAME_MYSQL_READER: "${DISCOVERY_SERVICE_NAME_MYSQL_READER}"
        SERVER_NAME: "${NGINX_MYSQL_SERVER_NAME}"
        SERVER_INTERFACE_BIND: "${SERVER_INTERFACE_BIND}"
        NGINX_MYSQL_ACL_LIST_NETWORK: "${NGINX_MYSQL_ACL_LIST_NETWORK}"
    networks:
      {{ DOCKER_NETWORK_NAME_NGINX_MYSQL }}:
        aliases:
          - nginx-lb-dbs-mysql2
    deploy:
      <<: *nginx-lb-dbs-mysql-deploy


networks:
  {{ DOCKER_NETWORK_NAME_NGINX_MYSQL }}:
    external: ${DOCKER_NETWORK_EXTERNAL_NGINX_MYSQL}
    driver: ${DOCKER_NETWORK_DRIVER_NGINX_MYSQL}