DOCKER_STACK_NAME={{ DOCKER_STACK_NAME_BITNAMI_PG_14 }}
DOCKER_IMAGE_BITNAMI_PG_14={{ DOCKER_IMAGE_BITNAMI_PG_14 }}
DOCKER_NETWORK_NAME_BITNAMI_PG_14={{ DOCKER_NETWORK_NAME_BITNAMI_PG_14 }}
DOCKER_NETWORK_EXTERNAL_BITNAMI_PG_14={{ DOCKER_NETWORK_EXTERNAL_BITNAMI_PG_14 }}
DOCKER_NETWORK_DRIVER_BITNAMI_PG_14={{ DOCKER_NETWORK_DRIVER_BITNAMI_PG_14 }}
DOCKER_PLACEMENT_CONSTR_BITNAMI_PG_14={{ DOCKER_PLACEMENT_CONSTR_BITNAMI_PG_14 }}
SERVER_INTERFACE_BIND={{ SERVER_INTERFACE_BIND_BITNAMI_PG_14 }}
CLUSTER_NAME_BITNAMI_PG_14={{ CLUSTER_NAME_BITNAMI_PG_14 }}
POSTGRESQL_SHARED_PRELOAD_LIBRARIES="{{ POSTGRESQL_SHARED_PRELOAD_LIBRARIES_BITNAMI_PG_14 }}"
DISCOVERY_SERVICE_HOST={{DISCOVERY_SERVICE_BITNAMI_PG_14}}
SERVER_NAME={{SERVER_NAME_BITNAMI_PG_14}}
POSTGRESQL_DATA_DIR={{POSTGRESQL_DATA_DIR_BITNAMI_PG_14}}
POSTGRESQL_MAX_CONNECTIONS={{POSTGRESQL_MAX_CONNECTIONS_BITNAMI_PG_14}}
POSTGRESQL_PASSWORD={{ POSTGRES_PASSWORD_BITNAMI_PG_14 }}
POSTGRESQL_DATABASE={{POSTGRESQL_DATABASE_START_BITNAMI_PG_14}}
POSTGRESQL_USERNAME={{POSTGRESQL_USERNAME_BITNAMI_PG_14}}

POSTGRESQL_REPLICATION_STATUS={{ POSTGRESQL_REPLICATION_STATUS_BITNAMI_PG_14 }}
POSTGRESQL_REPLICATION_MODE={{ POSTGRESQL_REPLICATION_MODE_BITNAMI_PG_14 }}
POSTGRESQL_REPLICATION_USER={{ POSTGRESQL_REPLICATION_USER_BITNAMI_PG_14 }}
POSTGRESQL_REPLICATION_PASSWORD={{ POSTGRESQL_REPLICATION_PASSWORD_BITNAMI_PG_14 }}