version: '3.8'

services:
  
  postgres-14-1-bitnami:
    image: ${DOCKER_IMAGE_BITNAMI_PG_14}
{% raw %}
    hostname: postgres-14-1-bitnami-{{.Task.ID}}
{% endraw %}
    environment:
       POSTGRESQL_POSTGRES_PASSWORD: "${POSTGRESQL_PASSWORD}"
       POSTGRESQL_USERNAME: "${POSTGRESQL_USERNAME}"
       POSTGRESQL_PASSWORD: "${POSTGRESQL_PASSWORD}"
       POSTGRESQL_SHARED_PRELOAD_LIBRARIES: "${POSTGRESQL_SHARED_PRELOAD_LIBRARIES}"
       POSTGRESQL_MAX_CONNECTIONS: "${POSTGRESQL_MAX_CONNECTIONS}"
       POSTGRESQL_DATA_DIR: "${POSTGRESQL_DATA_DIR_BITNAMI_PG_14}"
       ALLOW_EMPTY_PASSWORD: "no"
       SERVER_NAME: "${SERVER_NAME}"
       DISCOVERY_SERVICE_HOST: "${DISCOVERY_SERVICE_HOST}"
       CONSUL_SERVICE_NAME: "${CLUSTER_NAME_BITNAMI_PG_14}"
       SERVER_INTERFACE_BIND: "${SERVER_INTERFACE_BIND}"
       
    volumes:
      - "{{ DOCKER_DATA_BITNAMI_POSTGRES_14_1 | default ('/home/docker-data/volumes/postgres-14-1-bitnami_data') }}:/bitnami/postgresql"
      #- "./configs/bitnami/postgres/conf.d:/opt/bitnami/postgresql/conf/conf.d"
      - type: tmpfs
        target: /dev/shm
        tmpfs:
           size: {{ POSTGRESQL_DOCKER_SHM_SIZE_BITNAMI_PG_14 | default ('513000000') }}
    networks:
      {{ DOCKER_NETWORK_NAME_BITNAMI_PG_14 }}:
    stop_grace_period: 40s
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: vip
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 1000
        window: 180s
      update_config:
        parallelism: 1
        delay: 20s
        failure_action: continue
        monitor: 60s
        max_failure_ratio: 0.3
      placement:
        constraints: [ node.labels.postgres-14-1-bitnami  == true ]

networks:
  {{ DOCKER_NETWORK_NAME_BITNAMI_PG_14 }}:
    external: ${DOCKER_NETWORK_EXTERNAL_BITNAMI_PG_14}
    driver: ${DOCKER_NETWORK_DRIVER_BITNAMI_PG_14}